frontend/node_modules/
frontend/dist/
travel/target/
frontend/.env
.idea/
.vscode/
*.log

travel/.env
travel/.env.*
travel/src/main/resources/application-local.properties
kubernetes/secret.yaml
*.pem
*.key
